<h1>Posts
    <spinner [isVisible]="arePostsLoading"></spinner>
</h1>
<div class="col-md-6">
    
    <select  #u (change)="getPostsForUser({userId: u.value})"  class="form-control">
        <option value="null">Select a user...</option>
        <option *ngFor="#user of users" value="{{user.id}}">{{user.name}}</option>
    </select>
    
    <pagination *ngIf="posts && posts.length > pageSize" [items]="posts" [pagesize]="pageSize"
        (change)="onPageChanged($event)"></pagination>

    <ul class="list-group">
        <li *ngFor="#post of pagedPosts" class="list-group-item" (click)="selectPost(post)">
            {{ post.title}}
        </li>
    </ul>
</div>
<div class="col-md-6" *ngIf="selectedPost != null">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ selectedPost.title }}</h3>
        </div>
        <div class="panel-body">
            {{ selectedPost.body }}
            
            <div>
                <spinner [isVisible]="areCommentsLoading"></spinner>
                <div *ngFor="#comment of comments" class="media">
                    <hr />
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object avatar" 
                                src="http://lorempixel.com/80/80/people?random={{comment.id}}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ comment.name }}</h4>
                        {{ comment.body }}
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>